// Styling for unordered & ordered lists:
// =======================================

.list__no-bullet {
  list-style-type: none;
}

.list__sm-padding {
  padding-inline-start: 20px;
}

.list__item--margin-bottom {
  margin-bottom: 1rem;
}

.list__flex--dots::before {
  content: '\2022';
  font-weight: 700;
  padding-right: .5rem;
}
