// Variables
@use '0-tools/content';
@use '0-tools/print';

// Base items
@use '1-base/typography';
@use '1-base/links';
@use '1-base/buttons';
@use '1-base/content-typography';
@use '1-base/tables';
@use '1-base/list';
@use '1-base/svg';
@use '1-base/iframe';

// Modular components
@use '2-modules/tabbed-nav';
@use '2-modules/contacts';
@use '2-modules/action-cards';
@use '2-modules/latest-news-widget';
@use '2-modules/img-hover';
@use '2-modules/facilities';
@use '2-modules/banner';
@use '2-modules/hero-slider';

// Layout items
// @use "3-layout/...";
@use '3-layout/positioning';
@use '3-layout/container';

// Page specific styling
// @use "4-pages/...";
@use '4-pages/index/home';
