// Positioning Styles
// ==========================================
.position__offset-fixed-nav {
  margin-top: 115px;
}

@media screen and (min-width:360px) {
  .position__offset-fixed-nav {
    margin-top: 115px;
  }
}

@media screen and (min-width:410px) {
  .position__offset-fixed-nav {
    margin-top: 120px;
  }
}

@media screen and (min-width:576px) {
  .position__offset-fixed-nav {
    margin-top: 145px;
  }
}

@media screen and (min-width:768px) {
  .position__offset-fixed-nav {
    margin-top: 135px;
  }
}

.position__img--center {
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.position__img--fl-pad {
  padding-right: 10px;
}

.position__img--fr-pad {
  padding-left: 10px;
}

.container--tan-bg {
  background-color: $tan-accent;
}

.position__sub-nav--offset-fixed-nav {
  margin-bottom: 15px;
  margin-top: 0;
}

@media screen and (min-width:360px) {
  .position__sub-nav--offset-fixed-nav {
    margin-bottom: 20px;
  }
}
.position__col--no-padding {
  padding-left: 0;
  padding-right: 0;
}

.position__section--margin-top {
  margin-top: 15px;
}

.position__col--img-overline {
  bottom: -15px;
  margin-top: -15px; // to offset for the relative positioning
  overflow-x: hidden;
  position: relative;
  z-index: 4;
}

.position__img-btn {
  position: relative;
  top: .3rem;
}

@media screen and (min-width: 768px) {
  .position__col--min-height {
    min-height: 15rem;
  }
}

@media screen and (min-width: 992px) {
  .position__col--min-height {
    min-height: 12rem;
  }
}

@media screen and (min-width: 1200px) {
  .position__col--min-height {
    min-height: 9rem;
  }
}

.position__video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.position__video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.position__img-sm-100 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .position__img-sm-100 {
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .position__img-sm-100 {
    margin-top: 10px;
  }
}

.positioning--max-width-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.positioning__max-width-600 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
